/*Carrousel energys*/
.energy-carousel {
  background-color:#0B1B2B;
  padding: 40px 20px;
  text-align: center;
}

.carousel-logo img {
  width: 120px; /* Ajusta el tamaño según los logos */
  margin: 10px auto;
  display: block;
}

.slick-slider {
  background-color: #0B1B2B;
}